/* span {
  font-size: 50px; // верстка для дз 1
} */
/*  */
/*  */
/* верстка для дз2 */
/* .block {
  width: 500px;
  height: 500px;
  margin: 0 auto;
  border: 2px solid silver;
}
.result {
  width: 100px;
  height: 100px;
  margin: 0 auto;
  border: 2px solid green; */
/* } */
/*  */
/* верстка для дз 3 */
/* .block {
  border: 2px solid black;
  width: 500px;
  height: 500px;
}
.red {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  border: 2px solid red;
  background: gray;
}
.yellow {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  border: 2px solid yellow;
  background: gray;
}
.green {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  border: 2px solid green;
  background: gray;
} */
